<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="flagments/Header::head"></head>
<body>
<nav th:replace="flagments/Nav::nav">
    <!-- Navbar Brand-->
</nav>

<div id="layoutSidenav_content">
    <div class="bodyMenu" align="center">
        <div class="bodySub">
            <ul id="display-inline-block-menu">
                <li>
                    <div class="menu">
                        <a href="#1"><div class="iconButton"></div></a>
                        <div class="menuText">
                            <span>USER</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="menu">
                        <a href="#1"><div class="iconButton"></div></a>
                        <div class="menuText">
                            <span>USER</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="menu">
                        <a href="#1"><div class="iconButton"></div></a>
                        <div class="menuText">
                            <span>USER</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="menu">
                        <a href="#1"><div class="iconButton"></div></a>
                        <div class="menuText">
                            <span>USER</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="menu">
                        <a href="#1"><div class="iconButton"></div></a>
                        <div class="menuText">
                            <span>USER</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="menu">
                        <a href="#1"><div class="iconButton"></div></a>
                        <div class="menuText">
                            <span>USER</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div th:replace="flagments/Footer::footer"></div>
</div>
</div>
<div th:replace="flagments/Footer::foot"></div>
</body>

</html>